<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
				<property name="url" value="jdbc:log4jdbc:oracle:thin:@tjoeunkn.iptime.org:1521:xe"/>
				<property name="username" value="SEMI_502_TEAM_2"/>
				<property name="password" value="SEMI_502_TEAM_2"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/pitcrew/cleanhome/member/model/dao/MemberDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/cleaner/report/model/dao/ReportDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/cleaner/request/model/dao/RequestDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/cleaner/account/model/dao/AccountDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/admin/notice/model/dao/NoticeDAO.xml"/>
  		<mapper resource="com/pitcrew/cleanhome/admin/request/model/dao/RequestDAO.xml"/>
  		<mapper resource="com/pitcrew/cleanhome/admin/calculator/model/dao/CalculatingDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/cleaner/notice/model/dao/NoticeDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/cleaner/calculate/model/dao/CalculateDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/user/model/dao/UserInfoDAO.xml"/>
		
		<mapper resource="com/pitcrew/cleanhome/admin/user/model/dao/UserDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/admin/cleaner/model/dao/CleanerDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/admin/product/model/dao/ProductDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/admin/blacklist/model/dao/BlacklistDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/admin/report/model/dao/ReportDAO.xml"/>
		
		<mapper resource="com/pitcrew/cleanhome/user/request/model/dao/UserReqDAO.xml"/>
		<mapper resource="com/pitcrew/cleanhome/user/model/dao/CleanDAO.xml"/>


	</mappers>
</configuration>
